# Configurações do Banco de Dados
POSTGRES_DB=trampolim_db
POSTGRES_USER=root
POSTGRES_PASSWORD=root

# Configurações de Segurança da API (JWT)
JWT_SECRET=mude-esta-senha-em-producao-sua-chave-aqui
JWT_EXPIRATION=86400000
